PROJECT_ID=<GCPのPROJECT_ID>
CALENDAR_ID=<狩野研のGoogleCalenderID>
SHEET_ID=<狩野研の名簿のスプレットシート>
SLACK_OAUTH_TOKEN=<狩野研slackのOAUTH TOKEN>
MAIL_USER=<送信元のGmailアドレス>
MAIL_PASSWORD=<Gmailアドレスに紐づくアプリパスワード>

ADRESS=<メールの送信先アドレス>
EVENT_NOTIFY_CHANNEL_ID=<スケジュール通知用のSlackチャンネルのID>
PIC_NOTIFY_CHANNEL_ID=<ゴミ捨て通知用のSlackチャンネルのID>
